.barNavigation {
  width: 100%;
  border-bottom: 2px solid rgba(54, 52, 52, 0.546);
  display: flex;
  padding: 16px 8px 0px 24px;
}
.containerHeaderNav {
  display: flex;
  margin: auto 0;
  padding: 6px;
}
.containerHeaderNav li{
  color: white;
  font-size: 16px;
  margin: 0 16px;
  list-style: none;
}

.containerHeaderNav a {
  color: white;
}
.containerHeaderNav li i {
  margin: auto 4px;
}

.containerSearchBar {
  margin: auto 10px auto auto;
}
.active {
  background-color: red;
  height: 30px;
  border-radius: 4px;
  padding: 0;
  margin: 0;
}

@media (max-width: 675px) {
  .containerHeaderNav {
    margin: 12px 0;
    display: flex;
    justify-content: center;
  }
  
  .barNavigation {
    display: block;
  }

}
